.top-wrapper {
  display: grid;
  grid-template-columns: 90ex;
  padding: 0;
}

#whole {
  margin-top: 2em;
  margin-left: 2em;
}

footer {
  display: block;
  float: left;
  width: 50%;
}

h1 {
  margin: 0;
  font-size: 2em;
}

details:hover {
  box-shadow: 0 0 20px #9094fbff;
  border-radius: 8px;
}
/* 不顯示 summary 的標記 */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary > header > h1 {
  display: inline;
}

article {
  display: block;
}

.embbeded {
  width: 100%;
  height: auto;
  border: none;
}
iframe {
  width: 100%;
  border: none;
}

.top-wrapper > details {
  grid-column: 1;
}
.top-wrapper > nav {
  grid-column: 2;
}
nav#toc {
  display: block;
}
nav#toc > h1 {
  margin-top: 0;
  font-size: 16pt;
}
nav#toc a {
  color: #555;
}

a.toc:hover {
  background-color: #9094fbff;
}
a.mention:hover {
  background-color: #9094fbff;
}
a.mention {
  color: #8c8c8c;
  text-decoration: underline dotted;
}
a.link-self {
  color: #8c8c8c;
  text-decoration: underline dotted;
}
a.link-home {
  display: block;
  color: #666;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 2em;
}

.taxon {
  color: #8c8c8c;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#references > h1,
#related > h1,
#backlinks > h1,
#context > h1 {
  margin-left: 0.5rem;
}

.metadata ul {
  padding: 0;
  list-style-type: disc;
}
.metadata ul,
.metadata ul li {
  display: inline;
}

body {
  transition: 0.3s filter;
}
body.blur {
  filter: blur(3px) contrast(0.8) brightness(0.8);
}
/* `margin: auto` can put a dialog in the middle of screen */
#search-dialog {
  margin: auto;
  width: 50%;
  height: 50%;
  border: none;
}
#search-bar {
  width: 100%;
}

kbd {
  border: 2px solid #cdcdcd;
  border-radius: 0.25rem;
  box-shadow: #cdcdcd;
  box-shadow: inset 0 -1px 0 0 #cdcdcd;
  font-size: 0.825rem;
  padding: 0.25rem;
}
