article {
  float: left;
  width: 50%;
}

embed {
  width: 100%;
  height: auto;
}

nav#toc {
  margin-left: 1em;
}

nav#toc h1 {
  margin-top: 0;
  font-size: 16pt;
}

nav#toc,
nav#toc a {
  color: #555;
}

.taxon {
  color: #8c8c8c;
}
