.top-wrapper {
  display: grid;
  grid-template-columns: 90ex;
  padding: 0;
}

body {
  margin-top: 2em;
  margin-left: 2em;
}

footer {
  display: block;
  float: left;
  width: 50%;
}

h2 {
  margin: 0;
}

/* 不顯示 summary 的標記 */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

details > summary > header > h2 {
  display: inline;
}

article {
  display: block;
  float: left;
}

iframe {
  width: 100%;
  height: auto;
  border: none;
}

.top-wrapper > article {
  grid-column: 1;
}
.top-wrapper > nav {
  grid-column: 2;
}
nav#toc {
  display: block;
}
nav#toc > h2 {
  margin-top: 0;
  font-size: 16pt;
}
nav#toc a {
  color: #555;
}

a.mention {
  color: #8c8c8c;
  text-decoration: underline dotted;
}
a.link-self {
  color: #8c8c8c;
  text-decoration: underline dotted;
}
a.link-home {
  display: block;
  color: #8c8c8c;
  margin-top: 3em;
  margin-bottom: 2em;
}

.taxon {
  color: #8c8c8c;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#references > h2,
#related > h2,
#backlinks > h2,
#context > h2 {
  margin-left: 0.5rem;
}

.metadata ul {
  padding: 0;
  list-style-type: disc;
}
.metadata ul,
.metadata ul li {
  display: inline;
}

/* parent element with `display: flex`
  with child element `margin: auto`
  can put the child in the middle of screen
*/
body {
  display: flex;
  transition: 0.3s filter;
}
body.blur {
  filter: blur(3px) contrast(0.8) brightness(0.8);
}
#search-dialog {
  margin: auto;
  width: 50%;
  border: none;
}
#search-bar {
  width: 100%;
}
